* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: gray;
}

.flip_outer {
    display: flex;
}

.flip_front {
    position: relative;
    transition: transform 1s ease;
    backface-visibility: hidden;
}

.flip_back {
    position: absolute;
    transition: transform 1s ease;
}

.image {
    transform-style: preserve-3d;
}

.flip_outer:hover .flip_front {
    transform: rotateY(180deg);
}

.flip_outer:hover .flip_back {
    transform: rotateY(180deg);
}